.homeLogo
{
    margin-top: 5%;
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;

}

.homeContents
{
    margin-top: 2%;
    margin-left: 25%;
    margin-right: 25%;
    font-family: "Century Gothic";

}
