
body
{
    margin: 0;
    padding: 0;
}

.headingLogo
{
    height: 175px;
    width: 70%;
    float: left;
}

.headingLogin
{
    height: 175px;
    width: 30%;
    float: left;
}

.navSpace {
    background-color: steelblue;
    float: left;
    width: 40%;
    height: 75px;
}

.navButtonSelected
{
    background-color: white;
    color: steelblue;
    font: bold 25px "Century Gothic";
    float: left;
    width: 10%;
    height: 75px;
    border: 5px solid steelblue;
}

.navButton
{
    background-color: steelblue;
    color: white;
    font: bold 25px "Century Gothic";
    float: left;
    width: 10%;
    height: 75px;
    border: none;
}

.navButton:hover
{
    background-color: white;
    color: steelblue;
    border: 5px solid steelblue;
    transition: background-color linear 1.5s;
    transition: color linear 0.5s;
}

.navUsername
{
    background-color: steelblue;
    float: right;
    width: 20%;
    height: 75px;
    text-align:center;
}

.navUsernameLabel 
{
    color: white;
    font: 20px "Century Gothic";
    position: relative;
    top: 10px;
}

.navLoginLabel
{
    color: steelblue;
    font: 20px "Century Gothic";
}

.navLoginButton
{
    background-color: lightsteelblue;
    color: white;
    font: bold 20px "Century Gothic";
    height: 50px;
    width: 100px;
    border: 5px groove lightsteelblue;
    border-radius: 10px 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
}

.navLoginButton:hover 
{
    border: 5px ridge lightsteelblue;
}

.contents {
    min-height: 100%;
    background-image: linear-gradient(to bottom right, white 15%, lightblue, lightskyblue, steelblue);
    width: 100%;
    height: 1000px;
    float: left;
}



