#GridView1 
{
    margin-top: 50px;
    margin-left: 100px;
    border: 5px solid steelblue;
    box-shadow: lightsteelblue 0px 0px 10px 15px;
}

.dataButton
{
    background-color: steelblue;
    color: white;
    font: bold 20px "Century Gothic";
    height: 75px;
    width: 100px;
    border: 5px groove steelblue;
    border-radius: 10px 10px;
    position: relative;
}

.dataButton:hover
{
    border: 5px ridge steelblue;
}